body {
  font-family: Helvetica;
}
h3 {
  font-weight: bold;
  font-size: 16px;
}
.app {
  margin-bottom: 20px;
  height: 100vh;
}
.sidebar {
  background-color: #DBDBDB;
  width: 5vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  > img {
    margin-top: 20px;
  }
}
.channel-container {
  display: flex;
}
.channel-column {
  padding: 20px;
  width: 25vw;
  height: 100vh;
  background-color: #F4F4F4;
}
.channel-content {
  padding: 20px;
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.channel-title {
  border-bottom: 1px solid #F4F4F4;
}
.channel-messages {
  overflow: scroll;
  padding-bottom: 40px;
}
.message-user-and-time {
  display: flex;
}
.message-user {
  margin-right: 5px;
}
.flex-form {
  padding-top: 20px;
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 65vw;
  border-top: 1px solid #F4F4F4;
}
.send-button {
  margin-left: 5px;
  padding: 0 20px;
  border-radius: 4px;
}
li {
  padding: 20px;
  list-style-type: none;
  cursor: pointer;
  &.active {
  font-weight: bold;
  }
}
.time {
  font-weight: bolder;
  font-size: 12px;
  color: #a0a0a0;
  margin-top: 3px;
}
.slackoff {
  padding: 0 10px;
}
